<script id="{{ id ~ '_download_template' }}" type="text/x-tmpl">
{% raw %}
{% for (var i=0, file; file=o.files[i]; i++) { %}
{% endraw %}
    <tr class="template-download fade">
        {% raw %}
        {% if (file.error) { %}
        {% endraw %}
            {% if sortable %}
            <td class="sort"><icon class="handle icon-sort icon-2x"></i></td>
            {% endif %}
            <td></td>
            <td class="name"><span>{% raw %}{%=file.name%}{% endraw %}</span></td>
            <td class="size"><span>{% raw %}{%=o.formatFileSize(file.size)%}{% endraw %}</span></td>
            <td class="error" colspan="2">
                <span class="label label-important">
                {{- 'afe_collection_upload.error'|trans({}, 'AvocodeFormExtensions') -}}
                </span> {% raw %}{%=file.error%}{% endraw %}
            </td>
        {% raw %}
        {% } else { %}
        {% endraw %}
            {% raw %}
            {% if (!file.uid) { %}
            {% endraw %}
                {% if sortable %}
                <td class="sort"><icon class="handle icon-sort icon-2x"></i></td>
                {% endif %}
            {% raw %}
            {% } %}
            {% endraw %}
                <td class="preview">
                {% raw %}
                {% if (!file.uid) { %}
                    {% if (file.thumbnail_url) { %}
                {% endraw %}
                    {% if previewFilter %}
                        {% raw %}
                        <a href="{%=file.url%}" target="_blank"><img src="{%=file.thumbnail_url%}" /></a>
                        {% endraw %}
                    {% else %}
                        {% raw %}
                        <a href="{%=file.url%}" target="_blank">
                        {% endraw %}
                            <img src="{% raw %}{%=file.thumbnail_url%}{% endraw %}"
                                 width="{{ previewMaxWidth }}" height="{{ previewMaxHeight }}" />
                        </a>
                    {% endif %}
                {% raw %}
                    {% } %}
                {% } %}
                {% endraw %}
                </td>
                <td class="form">
                {% raw %}
                {% if (file.uid) { %}
                {% endraw %}
                    <input type="hidden" name="{{ full_name }}" value="{% raw %}{%=file.uid%}{% endraw %}" />
                    <input type="checkbox" name="{{ original_full_name ~ '[delete_uploads][]'}}" value="{% raw %}{%=file.uid%}{% endraw %}" class="remove"/>
                {% raw %}
                {% } else { %}
                {% endraw %}
                    {{ form_row(prototype[primary_key],{'value': '{%=file.'~primary_key~'%}'})|replace({'__name__': '{%=file.count%}'})|raw }}
                {% raw %}
                {% } %}
                {% endraw %}

                {% if nameable %}
                    {{ form_row(prototype[nameable_field],{'value': '{% if (file.uid) { %}{% } else { %}{%=file.'~nameable_field~'%}{% } %}'})|replace({'__name__':  '{% if (file.uid) { %}{%=file.uid%}{% } else { %}{%=file.count%}{% } %}'})|raw }}
                {% endif %}

                {% raw %}
                {% if (!file.uid) { %}
                {% endraw %}
                    {% if sortable %}
                        {{ form_row(prototype[sortable_field],{'value': '{%=file.'~sortable_field~'%}'})|replace({'__name__': '{%=file.count%}'})|raw }}
                    {% endif %}
                {% raw %}
                {% } %}
                {% endraw %}
                {% if editable %}
                {% for field in editable %}
                    {{ form_row(prototype[field],{'value': '{% if (file.uid) { %}{% } else { %}{%=file.'~field~'%}{% } %}'})|replace({'__name__':  '{% if (file.uid) { %}{%=file.uid%}{% } else { %}{%=file.count%}{% } %}'})|raw }}
                {% endfor %}
                {% endif %}

                </td>
            <td class="size"><span>
            {% raw %}
                {% if (file.size) { %}
                    {%=o.formatFileSize(file.size)%}
                {% } %}
            {% endraw %}</span></td>
            <td colspan="2"></td>
        {% raw %}
        {% } %}
        {% endraw %}
        <td class="actions">
            <div class="btn-toolbar">
                {% raw %}
                {% if (file.uid) { %}
                {% endraw %}
                    <button class="btn btn-warning remove">
                        <i class="icon-trash icon-white"></i>
                        <span> {{ 'afe_collection_upload.remove'|trans({}, 'AvocodeFormExtensions') }}</span>
                    </button>
                {% raw %}
                {% } else { %}
                {% endraw %}
                    <a class="btn btn-info" target="_blank" {% raw %}href="{%=file.url%}"{% endraw %}>
                        <i class="icon-download icon-white"></i>
                        <span> {{ 'afe_collection_upload.download'|trans({}, 'AvocodeFormExtensions') }}</span>
                    </a>
                    {% if allow_delete %}
                    <button class="btn btn-danger delete">
                        <i class="icon-trash icon-white"></i>
                        <span> {{ 'afe_collection_upload.delete'|trans({}, 'AvocodeFormExtensions') }}</span>
                    </button>
                    <span class="btn btn-toggle disabled input-append">
                        <input class="toggle" type="checkbox" name="delete" value="1">
                    </span>
                    {% endif %}
                {% raw %}
                {% } %}
                {% endraw %}
            </div>
        </td>
    </tr>
{% raw %}
{% } %}
{% endraw %}
</script>
