{% use "AvocodeFormExtensionsBundle:Form/BootstrapCollection:collection_delete.html.twig"  %}

{% block collection_table_item %}
<tr class="collection-item">
{% if item.vars.compound %}
    <td class="collection-item-compound">
        <div class="accordion" id="{{ 'accordion_' ~ item.vars.id }}">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="{{ '#accordion_' ~ item.vars.id }}" href="{{ '#accordion_body_' ~ item.vars.id }}">
                        <i class="icon-chevron-down"></i>
                        <i class="icon-chevron-right"></i>
                        {{ form_label(item) }}
                    </a>
                    {{ block('collection_delete') }}
                </div>
                <div id="{{ 'accordion_body_' ~ item.vars.id }}" class="accordion-body collapse in">
                    <div class="accordion-inner">
                    {{ form_errors(item) }}
                    {{ form_widget(item, { 'attr': {'class': 'form-horizontal'} }) }}
                    </div>
                </div>
            </div>
        </div>
    </td>
{% else %}
    <td class="collection-item-simple">
        <div class="form-horizontal">
            {{ block('collection_delete') }}
            <div class="control-group">
                {{ form_label(item) }}
                <div class="controls">
                    {{ form_widget(item) }}
                </div>
                <span class="help-inline">
                    {{ form_errors(item) }}
                </span>
            </div>
        </div>
    </td>
{% endif %}
</tr>
{% endblock collection_table_item %}