{% if prototype is defined %}
    {% set item = prototype %}
    {% set attr = attr|merge({'data-prototype': block('fieldset_collection_item') }) %}
{% endif %}
{% set attr = attr|merge({'class': 'control-group' }) %}
<div {{ block('widget_container_attributes') }}>
    {% if form.parent is empty %}
        {{ form_errors(form) }}
    {% endif %}
    <div id="{{ id ~ '_toolbar' }}" class="btn-toolbar form-actions form-actions-condensed">
        {% include "AvocodeFormExtensionsBundle:Form/BootstrapCollection:collection_add.html.twig" %}
        {% include "AvocodeFormExtensionsBundle:Form/BootstrapCollection:collection_batch_delete.html.twig" %}
    </div>
    <div class="collection">
        {% for item in form %}
            {{ block('fieldset_collection_item') }}
        {% endfor %}
    </div>
    {{ form_rest(form) }}
</div>

{% block fieldset_collection_item %}
<fieldset class="collection-item {{ id ~ '_actions' }}">
    <legend>{{ form_label(item) }}</legend>
    {{ form_widget(item) }}
    {{ form_errors(item) }}
    {% include "AvocodeFormExtensionsBundle:Form/BootstrapCollection:collection_delete.html.twig" %}
</fieldset>
{% endblock fieldset_collection_item %}