{% block collection_fieldset_widget %}
{% spaceless %}
{% if prototype is defined %}
    {% set item = prototype %}
    {% set attr = attr|merge({'data-prototype': block('collection_fieldset_item') }) %}
{% endif %}
{% set attr = attr|merge({'class': 'control-group' }) %}
<div {{ block('widget_container_attributes') }}>
    {% if form.parent is empty %}
        {{ form_errors(form) }}
    {% endif %}
    <div id="{{ id ~ '_toolbar' }}" class="btn-toolbar form-actions form-actions-condensed">
        {%- include "AvocodeFormExtensionsBundle:Form/BootstrapCollection:collection_add.html.twig" -%}
        {%- include "AvocodeFormExtensionsBundle:Form/BootstrapCollection:collection_batch_delete.html.twig" -%}
    </div>
    <div class="collection">
        {% for item in form %}
            {{ block('collection_fieldset_item') }}
        {% endfor %}
    </div>
    {{ form_rest(form) }}
</div>
{% endspaceless %}
{% endblock collection_fieldset_widget %}

{% block collection_fieldset_item %}
<fieldset class="collection-item {{ id ~ '_actions' }}">
    <legend>{{ form_label(item) }}</legend>
    {{ form_widget(item) }}
    {{ form_errors(item) }}
    {%- include "AvocodeFormExtensionsBundle:Form/BootstrapCollection:collection_delete.html.twig" -%}
</fieldset>
{% endblock collection_fieldset_item %}

{% block collection_table_widget %}
{% spaceless %}
{% if prototype is defined %}
    {% set item = prototype %}
    {% set attr = attr|merge({'data-prototype': block('collection_table_item') }) %}
{% endif %}
{% set attr = attr|merge({'class': 'table table-striped' }) %}
<table {{ block('widget_container_attributes') }}>
    {% if form.parent is empty %}
        <caption>
            {{ form_errors(form) }}
        </caption>
    {% endif %}
    <thead>
      <tr>
        <td id="{{ id ~ '_toolbar' }}" class="btn-toolbar form-actions form-actions-condensed" colspan="4">
            {%- include "AvocodeFormExtensionsBundle:Form/BootstrapCollection:collection_add.html.twig" -%}
            {%- include "AvocodeFormExtensionsBundle:Form/BootstrapCollection:collection_batch_delete.html.twig" -%}
        </td>
      </tr>
    </thead>
    <tbody class="collection">
        {% for item in form %}
            {{ block('collection_table_item') }}
        {% endfor %}
    </tbody>
</table>
{% endspaceless %}
{% endblock collection_table_widget %}

{% block collection_table_item %}
<tr class="collection-item">
{% if item.vars.compound %}
    <td class="collection-item-compound">
        <div class="accordion" id="{{ 'accordion_' ~ item.vars.id }}">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="{{ '#accordion_' ~ item.vars.id }}" href="{{ '#accordion_body_' ~ item.vars.id }}">
                        <i class="icon-chevron-down"></i>
                        <i class="icon-chevron-right"></i>
                        {{- form_label(item) -}}
                    </a>
                    {%- include "AvocodeFormExtensionsBundle:Form/BootstrapCollection:collection_delete.html.twig" -%}
                </div>
                <div id="{{ 'accordion_body_' ~ item.vars.id }}" class="accordion-body collapse in">
                    <div class="accordion-inner">
                    {{ form_errors(item) }}
                    {{ form_widget(item, { 'attr': {'class': 'form-horizontal'} }) }}
                    </div>
                </div>
            </div>
        </div>
    </td>
{% else %}
    <td class="collection-item-simple">
        <div class="form-horizontal">
            {%- include "AvocodeFormExtensionsBundle:Form/BootstrapCollection:collection_delete.html.twig" -%}
            <div class="control-group">
                {{ form_label(item) }}
                <div class="controls">
                    {{ form_widget(item) }}
                </div>
                <span class="help-inline">
                    {{ form_errors(item) }}
                </span>
            </div>
        </div>
    </td>
{% endif %}
</tr>
{% endblock collection_table_item %}

{% block collection_upload_widget %}
{% spaceless %}
    {% set full_name = full_name ~ '[uploads][]' %}
    <div id="{{ id ~ '_widget_container' }}">
        <div class="btn-toolbar form-actions form-actions-condensed fileupload-buttonbar">
            <span class="btn btn-success fileinput">
                <i class="icon-plus icon-white"></i>
                <span> {{ 'collection_upload.file.add'|trans({}, 'AvocodeFormExtensions') }}</span>
                <input type="file" {{ block('widget_attributes') }} multiple />
            </span>
            <button type="reset" class="btn btn-warning cancel">
                <i class="icon-ban-circle icon-white"></i>
                <span> {{ 'collection_upload.cancel'|trans({}, 'AvocodeFormExtensions') }}</span>
            </button>
            <button type="button" class="btn btn-danger delete">
                <i class="icon-trash icon-white"></i>
                <span> {{ 'collection_upload.delete'|trans({}, 'AvocodeFormExtensions') }}</span>
            </button>
            <label class="btn btn-toggle disabled input-append">
                <input type="checkbox" class="toggle">
            </label>
        </div>
        {% include "AvocodeFormExtensionsBundle:Form/CollectionUpload:presentation_table.html.twig" %}
        {% include "AvocodeFormExtensionsBundle:Form/CollectionUpload:template_download.html.twig" %}
        {% include "AvocodeFormExtensionsBundle:Form/CollectionUpload:template_upload.html.twig" %}
    </div>
{% endspaceless %}
{% endblock collection_upload_widget %}

{% block date_picker_widget %}
{% spaceless %}
    <div class="input-append date datepicker" data-date="{{ value }}" data-date-format="{{ format|lower }}">
        {{ block('form_widget_simple') }}
        <label for="{{ id }}" class="add-on"><i class="icon-calendar"></i></label>
    </div>
{% endspaceless %}
{% endblock date_picker_widget %}

{% block daterange_picker_widget %}
{% spaceless %}
    <div class="input-prepend daterangepicker">
        <label for="{{ id }}" class="add-on"><i class="icon-calendar"></i></label>
        <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}"{% endif %} />
    </div>
{% endspaceless %}
{% endblock daterange_picker_widget %}

{% block double_list_prototype %}
{% spaceless %}
    <div id="{{ id ~ '_widget_container' }}" class="double-list">
        <div class="list-unselected dropdown open">
            {% include "AvocodeFormExtensionsBundle:Form/DoubleList:unselected_list.html.twig" %}
        </div>
        <div class="list-controls">
            {% include "AvocodeFormExtensionsBundle:Form/DoubleList:controls.html.twig" %}
        </div>
        <div class="list-selected dropdown open">
            {% include "AvocodeFormExtensionsBundle:Form/DoubleList:selected_list.html.twig" %}
        </div>
        {{ block('choice_widget') }}
    </div>
{% endspaceless %}
{% endblock double_list_prototype %}

{% block double_list_document_widget %}
    {{ block('double_list_prototype') }}
{% endblock double_list_document_widget %}

{% block double_list_entity_widget %}
    {{ block('double_list_prototype') }}
{% endblock double_list_entity_widget %}

{% block double_list_model_widget %}
    {{ block('double_list_prototype') }}
{% endblock double_list_model_widget %}

{% block form_row %}
{% spaceless %}
    <div class="control-group {{ name }}{% if errors|length > 0 %} error{% endif %}">
        {{ form_label(form) }}
        <div class="controls">
        {{ form_widget(form) }}
        {% if not compound %}
            {{ form_errors(form) }}
        {% endif %}
        {{ block('form_help') }}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_help %}
{% spaceless %}
    {% if help %}
        <span class="help-block">
            <p class="muted">{{ help|trans({}, translation_domain) }}</p>
        </span>
    {% endif %}
{% endspaceless %}
{% endblock form_help %}

{% block single_upload_widget %}
{% spaceless %}
    <div id="{{ id ~ '_widget_container' }}" class="single-upload">
        <div class="btn-toolbar form-actions form-actions-condensed singleupload-buttonbar">
            <span class="btn btn-success fileinput">
                {% include "AvocodeFormExtensionsBundle:Form/SingleUpload:upload.html.twig" %}
                <input type="file" id="{{ id }}" name="{{ form.parent.vars.full_name ~ '['~name~'][file]' }}" />
            </span>
            {% include "AvocodeFormExtensionsBundle:Form/SingleUpload:controls.html.twig" %}
        </div>
        <div id="{{ id ~ '_preview' }}" class="single-upload-preview">
            {% include "AvocodeFormExtensionsBundle:Form/SingleUpload:preview.html.twig" %}
        </div>
    </div>
{% endspaceless %}
{% endblock single_upload_widget %}

{% block select2_choice_widget %}
{% if hidden %}
    {{ block('hidden_widget') }}
{% else %}
    {{ block('choice_widget') }}
{% endif %}
{% endblock %}

{% block select2_document_widget %}
{% if hidden %}
    {{ block('hidden_widget') }}
{% else %}
    {{ block('choice_widget') }}
{% endif %}
{% endblock %}

{% block select2_entity_widget %}
{% if hidden %}
    {{ block('hidden_widget') }}
{% else %}
    {{ block('choice_widget') }}
{% endif %}
{% endblock %}

{% block select2_hidden_row %}
{% spaceless %}
    {{ block('form_row') }}
{% endspaceless %}
{% endblock select2_hidden_row %}

{% block select2_model_widget %}
{% if hidden %}
    {{ block('hidden_widget') }}
{% else %}
    {{ block('choice_widget') }}
{% endif %}
{% endblock %}

{% block time_picker_widget %}
{% spaceless %}
    <div class="input-append timepicker">
        <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}"{% endif %} />
        <label for="{{ id }}" class="add-on"><i class="icon-time"></i></label>
    </div>
{% endspaceless %}
{% endblock time_picker_widget %}