{% block collection_add %}
{% if allow_add %}
    <a class="btn btn-primary new">
        <i class="icon-plus icon-white"></i> {{ 'collection.add'|trans({}, 'Admingenerator') }}
    </a>
{% endif %}
{% endblock collection_add %}

{% block collection_batch_delete %}
{% if allow_delete %}
    <a class="btn btn-danger batch-delete">
        <i class="icon-trash icon-white"></i> {{ 'action.batch.delete.label'|trans({}, 'Admingenerator') }}
    </a>
    <label class="btn btn-toggle disabled input-append">
        <input type="checkbox" name="toggle">
    </label>
{% endif %}

{% endblock collection_batch_delete %}

{% block collection_delete %}
{% if allow_delete %}
<div class="collection-item-actions {{ id ~ '_actions' }}">
    <label class="btn btn-toggle disabled input-append">
        <input type="checkbox" name="delete" value="1">
    </label>
    <a class="btn btn-danger delete" title="{{ 'object.delete.label'|trans({}, 'Admingenerator') }}">
        <i class="icon-remove icon-white"></i>
    </a>
</div>
{% endif %}
{% endblock collection_delete %}

{% block collection_fieldset_item %}
{% spaceless %}
    <fieldset class="collection-item {{ id ~ '_actions' }}">
        <legend>{{ form_label(item) }}</legend>
        {{ form_widget(item) }}
        {{ form_errors(item) }}
        {{ block('collection_delete' }}
    </fieldset>
{% endspaceless %}
{% endblock collection_fieldset_item %}

{% block collection_fieldset_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set item = prototype %}
        {% set attr = attr|merge({'data-prototype': block('fieldset_collection_item_widget') }) %}
    {% endif %}
    {% set attr = attr|merge({'class': 'control-group' }) %}
    <div {{ block('widget_container_attributes') }}>
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}
        <div id="{{ id ~ '_toolbar' }}" class="btn-toolbar form-actions form-actions-condensed">
            {{ block('collection_add') }}
            {{ block('collection_batch_delete' }}
        </div>
        <div class="collection">
            {% for item in form %}
                {{ block('collection_fieldset_item') }}
            {% endfor %}
        </div>
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock collection_fieldset_widget %}

{% block collection_table_item %}
{% spaceless %}
    <tr class="collection-item">
        {% if item.vars.compound %}
        <td class="collection-item-compound">
            <div class="accordion" id="{{ 'accordion_' ~ item.vars.id }}">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="{{ '#accordion_' ~ item.vars.id }}" href="{{ '#accordion_body_' ~ item.vars.id }}">
                            <i class="icon-chevron-down"></i>
                            <i class="icon-chevron-right"></i>
                            {{ form_label(item) }}
                        </a>
                        {{ block('collection_delete' }}
                    </div>
                    <div id="{{ 'accordion_body_' ~ item.vars.id }}" class="accordion-body collapse in">
                        <div class="accordion-inner">
                        {{ form_errors(item) }}
                        {{ form_widget(item, { 'attr': {'class': 'form-horizontal'} }) }}
                        </div>
                    </div>
                </div>
            </div>
        </td>
        {% else %}
        <td class="collection-item-simple">
            <div class="form-horizontal">
                {{ block('collection_delete' }}
                <div class="control-group">
                    {{ form_label(item) }}
                    <div class="controls">
                        {{ form_widget(item) }}
                    </div>
                    <span class="help-inline">
                        {{ form_errors(item) }}
                    </span>
                </div>
            </div>
        </td>
        {% endif %}
    </tr>
{% endspaceless %}
{% endblock collection_table_item %}

{% block collection_table_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set item = prototype %}
        {% set attr = attr|merge({'data-prototype': block('table_collection_item_widget') }) %}
    {% endif %}
    {% set attr = attr|merge({'class': 'table table-striped' }) %}
    <table {{ block('widget_container_attributes') }}>
        {% if form.parent is empty %}
            <caption>
                {{ form_errors(form) }}
            </caption>
        {% endif %}
        <thead>
          <tr>
            <td id="{{ id ~ '_toolbar' }}" class="btn-toolbar form-actions form-actions-condensed" colspan="4">
                {{ block('collection_add') }}
                {{ block('collection_batch_delete' }}
            </td>
          </tr>
        </thead>
        <tbody class="collection">
            {% for item in form %}
                {{ block('collection_table_item') }}
            {% endfor %}
        </tbody>
    </table>
{% endspaceless %}
{% endblock collection_table_widget %}

{% block color_widget %}
{% spaceless %}
    {% if widget == "image" %}
        <div id="{{ id }}_color" {{ block("widget_container_attributes") }}>
            <div{% if value %} style="background-color: #{{ value }};"{% endif %}>&nbsp;</div>
            {{ block("hidden_widget") }}
        </div>
    {% else %}
        {{ block("form_widget_simple") }}
    {% endif %}
{% endspaceless %}
{% endblock color_widget %}

{% block select2_hidden_row %}
    {{ block('form_row') }}
{% endblock select2_hidden_row %}