{% block color_widget %}
{% spaceless %}
    {% if widget == "image" %}
        <div id="{{ id }}_color" {{ block("widget_container_attributes") }}>
            <div{% if value %} style="background-color: #{{ value }};"{% endif %}>&nbsp;</div>
            {{ block("hidden_widget") }}
        </div>
    {% else %}
        {{ block("form_widget_simple") }}
    {% endif %}
{% endspaceless %}
{% endblock color_widget %}

{% block select2_hidden_row %}
    {{ block('form_row') }}
{% endblock %}